
.servicos{
  font-weight: normal;
  font-size: 15px;
  padding-left: 150px;
  margin-top: -5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.logoimg{

width: 75%;
height: 200px;
  margin-left: 15%;
}
.slider{


width: 100%;
height: 400px;
overflow: hidden;




}

.slides{
  width: 500%;
  height: 400px;
  display: flex;
  
}
.slides input{
  display: none;
}
.slide{
  width: 25%;
  position: relative;
  
 
  
}


.manual-navegation{
  position: absolute;
  width: 400px;
  margin-top: -90px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:Last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background-color: black;
}
#radios1:checked ~ .first{
  margin-left: 0;

}
#radios2:checked ~ .first{
  margin-left: -25%;

}
#radios3:checked ~ .first{
  margin-left: -50%;

}
#radios4:checked ~ .first{
  margin-left: -75%;

}
#radios5:checked ~ .first{
  margin-left: -100%;

}
.navegation-auto div{

  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navegation-auto{
  position: absolute;
  width: 400px;
  margin-top: 310px;
  display: flex;
  justify-content: center;

}
.navegation-auto div:not(:last-child){
  margin-right: 40px;
}
#radios1:checked ~ .navegation-auto .auto-btn1{
  background-color: yellow;
}
#radios2:checked ~ .navegation-auto .auto-btn2{
  background-color: yellow;
}
#radios3:checked ~ .navegation-auto .auto-btn3{
  background-color: yellow;
}
#radios4:checked ~ .navegation-auto .auto-btn4{
  background-color: yellow;
}
#radios5:checked ~ .navegation-auto .auto-btn5{
  background-color: yellow;
}

.titulocam{
  font-size: 21px;
  margin-left: 30px;
  color: #6DDCF8;
  text-shadow: 1px 1px black;
  font-family: Arial, Helvetica, sans-serif;
  
}
.titulocas{
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6DDCF8;
  text-shadow: 1px 1px black;
  margin-left: 15px;
  
  
}
.tituloport{
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6DDCF8;
  text-shadow: 1px 1px black;
  margin-left: 15px;

  
  
  
}
.tituloint{
  font-size: 21px;
  margin-left: 15px;
  color: #6DDCF8;
  text-shadow: 1px 1px black;
  font-family: Arial, Helvetica, sans-serif;
  
}
.tituloele{
  font-size: 21px;
  margin-left: 15px;
  color: #6DDCF8;
  text-shadow: 1px 1px black;
  font-family: Arial, Helvetica, sans-serif;
}
.txt{

  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-right: 10px;
  margin-left: 5px;
}
.txtport{
  margin-top: 2px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-right: 10px;
  margin-left: 5px;

}
.txtcas{
  margin-top: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-right: 10px;
  margin-left: 5px;

}
.txtcam{
  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-right: 10px;
  margin-left: 5px;

}
.txtint{
  margin-top: 1px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-right: 10px;
  margin-left: 5px;

}
.txtele{
  margin-top: 1px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin-right: 10px;
  margin-left: 5px;

}


.imgcam{
  width: 130px;
  height: 139px;
  margin-top: 2px;
  border-radius: 100px;
  margin-bottom: 20px;

}
.imgcas{

  width: 130px;
  height: 139px;
  margin-top: 5px;
  border-radius: 100px;
  margin-bottom: 20px;
}
.imgport{

  width: 130px;
  height: 139px;
  margin-top: 10px;
  border-radius: 100px;
  margin-bottom: 20px;
}
.imgint{

  width: 130px;
  height: 139px;
  margin-top: 5px;
  border-radius: 100px;
  margin-bottom: 20px;
}
.imgele{

  width: 130px;
  height: 139px;
  margin-top: 5px;
  border-radius: 100px;
  margin-bottom: 20px;
}
.cftv{
  border-bottom: 2px solid #6DDCF8;
  border-top: 2px solid #6DDCF8 ;
  border-right: 2px solid #6DDCF8;
  
  box-shadow: 1px 2px black;
  border-radius: 10px;
}
.casa{
  border-bottom: 2px solid #6DDCF8;
  border-top: 2px solid #6DDCF8;
  border-right: 2px solid #6DDCF8;
  
  box-shadow: 1px 2px black;
  border-radius: 10px;
  margin-top: 20px;
}
.port{
  border-bottom: 2px solid #6DDCF8;
  border-top: 2px solid #6DDCF8;
  border-right: 2px solid #6DDCF8;
  
  box-shadow: 1px 2px black;
  border-radius: 10px;
  margin-top: 20px;
}

.interfone{
  border-bottom: 2px solid #6DDCF8;
  border-top: 2px solid #6DDCF8;
  border-right: 2px solid #6DDCF8;
  
  box-shadow: 1px 2px black;
  border-radius: 10px;
  margin-top: 20px;
}
.eletrica{
  border-bottom: 2px solid #6DDCF8;
  border-top: 2px solid #6DDCF8;
  border-right: 2px solid #6DDCF8;
 
  box-shadow: 1px 2px black;
  border-radius: 10px;
  margin-top: 20px;
}
.footer{
  background-image: linear-gradient(to right ,  #6DDCF8 90%, black);
  display: flex;
  
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  
}
.email{

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 20px;

}
.telefone{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 30px;
}
.orca{

  background-image: linear-gradient(to right ,  #6DDCF8 90%, black);
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -21px;
  text-align: center;
}
.scftv{
  padding-left: 175px;
  margin-top: 15px;
  

  
}
.scasa{
  padding-left: 43px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.sport{
  padding-left: 9px;
  margin-top: 15px;
}
.sint{
  padding-left: 124px;
  margin-top: 15px;
  

  
}
.sele{
  padding-left: 138px;
  margin-top: 15px;
  

  
}


.link{
  text-decoration: none;
  border: 2px solid black;
  color: black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px black;
  font-weight: bolder;
  background-color: #6DDCF8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}



.ft{
  display: flex;
}