

header{

    background-color: yellow;
    background-size: auto;
    margin-top: 30px;
    padding-top: auto;
    border-radius: 10px;
    sha
}
h1#text1{

   font-size: 50px;
    text-align: center;
    color: blue;
    
}